body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #000000;
}

.arcade {
  width: 100%;
  height: 100%;
  background-color: #000;
  
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  background: linear-gradient(white, black);
  background-size: 100% 300%; /* Augmentation de la taille du dégradé */
  position: relative;
  overflow: hidden;
  animation: gradientAnimation 8s linear infinite alternate;}

@keyframes gradientAnimation {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}



.scanlines {
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(45deg, rgba(231, 230, 230, 0.1) 0px, rgba(10, 0, 0, 0.1) 10px, transparent 10px, transparent 20px);
  position: absolute;
  animation: scanlines-animation 8s linear infinite alternate;
  transform-origin: bottom;
}

.scanlines::after {
  content: "";
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(45deg, rgba(231, 230, 230, 0.1) 0px, rgba(10, 0, 0, 0.1) 1px, transparent 5px, transparent 2px);
  position: absolute;
  animation: scanlines-animation 2s linear reverse;
  transform-origin: bottom;
  top: 100%;
}

.scanlines::after {
  content: "";
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(45deg, rgba(231, 230, 230, 0.1) 0px, rgba(10, 0, 0, 0.1) 1px, transparent 10px, transparent 2px);
  position: absolute;
  animation: scanlines-animation 2s linear infinite ;
  transform-origin: bottom;
  top: 100%;
}

@keyframes scanlines-animation {
  0% {
      transform: translateY(0)  ;
  }
  100% {
      transform: translateY(-10%) ;
  }
}









/*barre*/
#progress-container {
    background-color: #ddd;
    width: 50%;
    position: relative;

     }

     #progress-container2 {
      background-color: #ddd;
      display:flex;
      width: 50%;
      position: absolute;
      right: 0
       ;
       }
  
  #progress-bar2 {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 30px;
    
  }
  
  #progress-bar1 {
    width: 1%;
    height: 30px;
    background-color: #b42360;
    color: white;
    text-align: center;
    line-height: 30px;
    justify-content: flex-end;
  }

  #progress-bar6 {
    width: 1%;
    height: 30px;
    background-color: #b42360;
    color: white;
    text-align: center;
    line-height: 30px;
    position: relative;
    
    
  }
    
  #progress-bar3 {
    width: 1%;
    height: 30px;
    background-color: #4319dd;
    color: white;
    text-align: center;
    line-height: 30px;
  }

  #progress-bar4 {
    width: 1%;
    height: 30px;
    background-color: #4319dd;
    color: white;
    text-align: center;
    line-height: 30px;
  }

  #progress-bar5 {
    width: 1%;
    height: 30px;
    background-color: #4319dd;
    color: white;
    text-align: center;
    line-height: 30px;
  }



.logo{height: 11%;position: relative;top: -2;left: 1%;}
#logo2{left: 1%;}
.logoo{height: 10%;position: relative;left: 80%; }
