body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: black;
   
    ;
}
/*EFFET CATHODIQUE ARCADE */
    .arcade-screen {
        width: 100%; /* Ajustez la taille selon vos besoins */
    height: 99%; /* Ajustez la taille selon vos besoins */
        background-color: rgb(29, 22, 22);
        border: 5px solid #00ff00; /* Couleur du cadre */
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 0 20px rgba(90, 252, 90, 0.5); /* Effet de lumière */
        position: relative;
        overflow: hidDen;
        
    }

/* Simulation des pixels sur l'écran */
.arcade-screen::before {
    content: '';
    position:absolute   ;
    width: 100%; /* Taille d'un pixel */
    height: 100%; /* Taille d'un pixel */
    background-color: #01ff6b69; /* Couleur du pixel */
    z-index: 0;
}

/* Créez des animations pour simuler un scintillement des pixels si nécessaire */
@keyframes flicker {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.3;
    }
}

.arcade-screen::before {
    animation: flicker 0.1s infinite alternate;
}

.titre{ color: blue;text-align: center;}
/*barre*/
#progress-container {
    background-color: #ddd;
    width: 50%;

     }

     #progress-container2 {
      background-color: #ddd;
      display:flex;
      width: 50%;
      position: absolute;
      right: 0
       ;
       }
  
  #progress-bar2 {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 30px;
  }
  
  #progress-bar1 {
    width: 1%;
    height: 30px;
    background-color: #b42360;
    color: white;
    text-align: center;
    line-height: 30px;
    justify-content: flex-end;
  }

  #progress-bar6 {
    width: 1%;
    height: 30px;
    background-color: #b42360;
    color: white;
    text-align: center;
    line-height: 30px;
    position: relative;
    
    
  }
    
  #progress-bar3 {
    width: 1%;
    height: 30px;
    background-color: #4319dd;
    color: white;
    text-align: center;
    line-height: 30px;
  }

  #progress-bar4 {
    width: 1%;
    height: 30px;
    background-color: #4319dd;
    color: white;
    text-align: center;
    line-height: 30px;
  }

  #progress-bar5 {
    width: 1%;
    height: 30px;
    background-color: #4319dd;
    color: white;
    text-align: center;
    line-height: 30px;
  }



.logo{height: 11%;position: relative;top: -2;}
#logo2{left: 1%;}
.logoo{height: 11%;position: absolute;right: 0;top: 15vh;}
