body {
    background-color: rgb(20, 10, 20);
    font-family: 'VT323', monospace;
}

#con {
    position: fixed;
    width: 79%;
    height: 57%;
    border: 10vw solid transparent;
    border-radius: 5vw;
    box-shadow: 0 0 8px 2px #f8f7f7;
}

h1 {
    color: #fdfbfb;
    position: relative;
    top: -30vh;
    text-align: center;
    font-size: 15vh;
}

#formulaire {
    position: fixed;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    left: 35%;
    margin-top: 25%;
    font-size: 5vh;
}

input, textarea, fieldset {
    background: transparent;
    color: #f00e0e;
    outline: none;
    font-family: 'VT323', monospace;
}

label {
    animation-duration: 0.1s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0% { opacity: 1; }
    40% { opacity: 0.1; }
    100% { opacity: 1; }
}

input {
    font-family: 'VT323', monospace;
    font-size: 10vh;
    color: #c90a0a;
}



#valider {
    cursor: pointer;
    position: absolute;
    font-size: 5vh;
}










